*{
    padding: 0;
    margin: 0;
}

body{

    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: url(https://images.pexels.com/photos/4100130/pexels-photo-4100130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;

}
.main{
    position: relative;
    height: 450px;
    width: 350px;
    top: 50px;
    left: calc(50% - 175px);
    border-radius: 20px;
  
}
.card{
    position: relative;
    height: 500px;
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    background: #212121;
    box-shadow: #212121 0 0 20px;
}
.card::after
{

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(75px at 175px 130px);
  background: linear-gradient(-45deg, #39A652, #33fafa, #04BF9D, #47CB65);
	background-size: 400% 400%;
	-webkit-animation: Gradient 3s ease infinite;
	-moz-animation: Gradient 3s ease infinite;
	animation: Gradient 3s ease infinite;
}

.logo{
    position:absolute;
    z-index: 1;
    height: 130px;
    width: 130px;
    margin-top: 130px;
    margin-left: 50%;
    border-radius: 150px;
    transform: translate(-50%,-50%);
    box-shadow: #212121 0 0 2px;
}
.text{
    padding: 30px;
    padding-bottom: 0; 
}
.name{
    text-align:center ;
    margin-top: 200px;
    font-weight: bold;
}
.span{
    text-align:center ;
    color:#04BF9D;
    font-weight: bold;
    margin-top: 10px;
}
.text li{
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 34px;
    margin-left: 13px;
}
.text ul{
    display: inline;
    padding-left: 20px;
}
.text .invert{
    filter: invert(100%);
    width: 40px;
}

.stats ul{
    display: inline;
    margin-left: 20px;
    padding-left: 25px;
    padding-top: 25px;
    list-style:none;
    width: auto;
    float: left;
    text-align: center;
}
.stats li{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 12px
}
.stats ul h2{
    color: #ffffff;
    font-weight: bold;
}
.stats ul p{
    font-weight: bold;
    color:#04BF9D;
    
}
.stats{
    margin-top: 35px;
    width: 100%;
    height: 90px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #0e0e0e;
}

.button{
    margin-left: 76px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: none;
    border-radius: 20px;
    border: 1px solid #04BF9D;
    color: #04BF9D;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    
}

.button:hover{
    background: linear-gradient(-45deg, #39A652, #33fafa, #04BF9D, #47CB65);
	background-size: 400% 400%;
	-webkit-animation: Gradient 3s ease infinite;
	-moz-animation: Gradient 3s ease infinite;
	animation: Gradient 3s ease infinite;
    color: #212121;
}


@keyframes card {
    0% { opacity: 0;}
    35% { opacity: 0;}
	40% { opacity: 1; }
}
@keyframes img {
    0% { opacity: 0;}
    40% { opacity: 0;}
	50% { opacity: 1; }
}
@keyframes h1 {
    0% { opacity: 0;}
    50% { opacity: 0;}
	55% { opacity: 1; }
}
@keyframes p1 {
    0% { opacity: 0;}
    53% { opacity: 0;}
	55% { opacity: 1; }
}
@keyframes i1 {
    0% { opacity: 0;}
    55% { opacity: 0;}
	60% { opacity: 1; }
}
@keyframes i2 {
    0% { opacity: 0;}
    56% { opacity: 0;}
	60% { opacity: 1; }
}
@keyframes i3 {
    0% { opacity: 0;}
    57% { opacity: 0;}
	60% { opacity: 1; }
}
@keyframes i4 {
    0% { opacity: 0;}
    58% { opacity: 0;}
	60% { opacity: 1; }
}
@keyframes button{
    0% { opacity: 0;}
    60% { opacity: 0;}
	65% { opacity: 1; }
}
@keyframes s1{
    0% { opacity: 0;}
    65% { opacity: 0;}
	70% { opacity: 1; }
}
@keyframes s2{
    0% { opacity: 0;}
    67% { opacity: 0;}
	70% { opacity: 1; }
}
@keyframes s3{
    0% { opacity: 0;}
    68% { opacity: 0;}
	70% { opacity: 1; }
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
